

@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

:root {

    --almost-white: hsl(0, 0%, 98%);
    --medium-gray: hsl(0, 0%, 41%);
    --almost-black: hsl(0, 0%, 8%);

    --font-size: 18px;

}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Epilogue', sans-serif;
}


.nav-bar {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar .logo {
    margin-left: 40px;
}


.nav-links {
    display: flex;
    flex-direction: row;
}


.nav-links ul {
 display: flex;
 flex-direction: row;
 gap: 24px;   
}

.nav-links ul li {
   list-style-type: none;
   color: var(--medium-gray);
   font-weight: 500;
   letter-spacing: 0.5px;
}





.right-menu button {
    margin-right: 36px;
    font-size: var(--font-size);
    border: none;
    background-color: transparent;
    padding: 12px;
    border-radius: 12px;
}

.right-menu button a {
    text-decoration: none;
    color: var(--medium-gray);
}


#register-btn {
    border: 2px solid var(--medium-gray);
}

